.register-wrapper {
  margin: 2em 0 0 0;
  padding-top: 1.19em;
}

.register-text {
  display: inline;
  font-size: 1.01em;
  color: #456268; 
}

.register-link {
  font-size: 1.01em;
  text-decoration: none;
  color: #6398FF;
  padding : 0 0 0 0.50em;
}

