.contact-body {
  display: flex;
  justify-content: flex-start;
  margin: 0.76em 0.23em;
}

.contact-body-input {
  color: #F9FDFF;
  font-size: 0.964em;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 1% 0 1% 3%;
}

.contact-body-title {
  color: #F9FDFF;
  font-size: 0.854em;
  margin: 1% 0 1% 3%;
  text-align: center;
}
