.contact-container {
  height: 220px;
  width: 290px;
  margin: auto;
  border-radius: 5%;
  background: linear-gradient(180deg, rgba(24, 99, 245, 0.8) 0%, rgba(36, 107, 246, 0.77923) 5.73%, rgba(137, 177, 255, 0.604167) 34.38%, rgba(255, 255, 255, 0) 100%), #6398FF;
}

.principal-contact {
  margin: 2% 0 14% 3%;
}

.principal-contact h1 {
  font-weight: 600;
  margin: 0.242em 0;
  font-size: 2.23em;
  color: #F9FDFF;
}

.principal-contact p {
  font-size: 0.964em;
  display: inline;
  text-align: center;
  color: #F9FDFF;
}

@media( max-width: 500px ) {
  .contact-container {
    margin: 0.34em 2.12em;
  }
}
