.spin {
  border: 4px solid rgba(0,0,0,.1);
  width: 15px;
  height: 15px; 
  border-radius: 50%;
  border-left-color: #F9FDFF;
  margin: auto;

  animation: spin 0.6s ease infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}
.submit-wrapper {
  margin: 1.04em 0;
}

.btn-submit {
  background-color: #6398FF;
  color: #F9FDFF;
  font-size: 0.91em;
  border: none;
  border-radius: 50px;
  width: 30%;
  height: 35px;
  padding: 6px 0;
  cursor: pointer;
  outline: none;

}

.btn-submit:hover {
  background-color: #2f72f5;
}

.recover-password-link {
  color: #6398FF;
  text-decoration: none;
  font-size: 0.887em;
  width: 65%;
  margin: 0 0 0 0.834em;
}
