.form-wrapper-signup {
  width: 22vw;
  height: 62vh;
  position: absolute;
  left: 39vw;
  top: 20vh;
  z-index: 9999;
  background-color: #F9FDFF;
  border-radius: 15px;
  box-shadow: -8px 8px 7px #9a9b9c;
}

@media ( max-width: 425px){
  .form-wrapper-signup {
    width: 74vw;
    height: 430px;
    left: 14vw;
  }
}

@media ( min-width: 425px){
  .form-wrapper-signup {
    width: 62vw;
    height: 430px;
    left: 18vw;
  }
}

@media ( min-width: 768px){
  .form-wrapper-signup {
    width: 45vw;
    height: 430px;
    left: 28vw;
  }
}

@media ( min-width: 1000px){
  .form-wrapper-signup {
    width: 25vw;
    height: 430px;
    left: 37vw;
  }
}

/* @media ( min-width: 1024px){ */
/*   .form-wrapper-signup { */
/*     width: 45vw; */
/*     height: 51vh; */
/*     left: 28vw; */
/*   } */
/*  */
/*   .form-title-signup { */
/*     margin: 0.19em auto 1.45em; */
/*     font-size: 2.773em; */
/*   } */
/* } */


.form-title-signup {
  margin: 0.10em auto 1.45em;
  text-align: center;
  font-size: 1.973em;
  color: #6398FF;
  font-weight: normal;
}

.form-body-signup {
  padding: 1em 1.657em ;
}


.already-register {
  margin: 1.34em 0 0;
}

.form-message-signup {
  display: inline;
  color: #456268;

}

.form-signin-signup {
  display: inline;
  color: #6398FF;
  margin: 0 0.26em;
  text-decoration: none;

}

