.link-home{
  padding: 0.3em 1.34em 1.14em;
  font-size: 1.35em;
  text-decoration: none;

}

.link-home .redirect-link{
  text-decoration: none;
  color: inherit;
  font-size: 1.32em;
}

.link-home .redirect-link:hover {
  border-bottom: solid #F9FDFF 1px;
}

@media (max-width: 500px){
  .link-home {
    font-size: 0.95em;
  }
}
