.register-wrapper-account{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register-title {
  color: #456268;
  font-weight: normal;
  margin: 1.764em 0 0 1.32em;
  font-size: 1.98em;
}

.register-title span {
  color: #6398FF;
}

.register-message span {
  color: #6398FF;
}

.register-message {
  color: #456268;
  font-size: 1.23em;
  text-align: center;
  width: 60%;
  word-wrap: break-word;
}

.register-img {
  width: 40%;
  height: 40%;
}

@media( max-width: 500px ){

  .register-wrapper-account{
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .register-img {
    width: 65%;
    height: 30%;
  }

  .register-title {
    margin: 0.12em;
    font-size: 2.18em;
  }

}
