.form-wrapper {
  position: absolute;
  left: 8vw;
  top: 20vh;
  width: 20vw;
  height: 55vh;
  z-index: 9999;
  background-color: #F9FDFF;
  padding: 1.12em;
  border-radius: 15px;
  box-shadow: 8px 8px 5px #9a9b9c;
}

.form-title {
  font-size: 1.164em;
  width: 100%;
  padding-bottom: 0.16em;
  margin: 0;
  color: #456268; 
  margin: 0 0 1.229em 0;
  font-weight: normal;
}

.form-title span {
  font-size: 1.594em;
  color: #6398FF;
  padding-right: 2px;

}

.form-title span span {
  margin: 0 0.32em 0;
  font-size: 0.994em;
  color: #F9FDFF;
  padding: 0 0.13em 0;
  background-color: #6398FF;
  border-radius: 4px;

}
.form-body {
  margin: 1.175em 0 0 0;
}

.spin {
  border: 4px solid rgba(0,0,0,.1);
  width: 15px;
  height: 15px; 
  border-radius: 50%;
  border-left-color: #F9FDFF;
  margin: auto;

  animation: spin 0.6s ease infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}
.submit-wrapper {
  margin: 1.04em 0;
}


.btn-submit {
  background-color: #6398FF;
  color: #F9FDFF;
  font-size: 0.91em;
  border: none;
  border-radius: 50px;
  width: 30%;
  height: 35px;
  padding: 6px 0;
  cursor: pointer;
  outline: none;

}

.btn-submit:hover {
  background-color: #2f72f5;
}

.recover-password-link {
  color: #6398FF;
  text-decoration: none;
  font-size: 0.887em;
  width: 65%;
  margin: 0 0 0 0.834em;
}

@media (min-width: 360px){
  .form-wrapper {
    width: 65vw;
  }

  .form-title {
    font-size: 1.18em;
  }

  .form-title span {
    font-size: 1.38em;
  }

  .recover-password-link {
    font-size: 0.757em;

  }
}

@media (min-width: 768px){
  .form-title {
    font-size: 1.34em;
  }

  .form-wrapper {
    top: 20vh;
    width: 50vw;
    height: 470px;
  }

  .btn-submit {
    font-size: 1.31em;
    height: 45px;
  }

  .recover-password-link {
    font-size: 1.157em;

  }
}

@media (min-width: 835px){
  .form-title {
    font-size: 1.164em;
  }

  .form-wrapper {
    top: 20vh;
    width: 20vw;
    height: 64vh;
  }

  .btn-submit {
    font-size: 0.91em;
    height: 35px;
  }

  .recover-password-link {
    font-size: 1.157em;

  }
}

