.home-information-top{
  color: #F9FDFF;
  height: 35vh;
  background-color: #6398FF;
}

.home-information-down {
  color: #456268;
  height: 70vh;
  background-color: #F9FDFF;
}

.home-information-down-title{
  font-size: 1.95em;
  text-align: center;
  font-weight: normal;
  visibility: hidden;
}

@media (min-width: 768px) {
  .home-information-down-title {
    visibility: visible ;
  }
}

.home-imgs-information{
  display: flex;
  justify-content: space-around;
}


.home-imgs-information div{
  margin-left: auto;
}

@media (max-width: 500px) {

  .home-imgs-information{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }

  .home-imgs-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
