.verified-email-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verified-email-message {
  text-align: center;
  width: 600px;
  word-wrap: break-word;
  color: #456268;
  font-size: 1.94em;
  font-weight: normal;
}

.verified-email-message span {
  color: #6398FF;
  font-size: 1.19em;
  text-align: center;
}

.verified-email-img {
  width: 40%
}

@media ( max-width: 500px ){
  .verified-email-wrapper {
    height: 100vh;
  }

  .verified-email-message {
    font-size: 1.542em;
  }

  .verified-email-img {
    width: 70%
  }
}

