.message-recovery-success {
  color: #6398ff;
  font-size: 0.974em;
  text-align: center;
}

.form-wrapper-request-handler {
  width: 22vw;
  height: 62vh;
  position: absolute;
  left: 39vw;
  top: 20vh;
  z-index: 9999;
  background-color: #f9fdff;
  border-radius: 15px;
  box-shadow: -8px 8px 7px #9a9b9c;
}

@media (min-width: 320px) and (max-width: 500px) {
  .form-wrapper-request-handler {
    width: 60vw;
    height: 48vh;
    position: absolute;
    left: 23vw;
    top: 26vh;
    z-index: 9999;
    background-color: #f9fdff;
    border-radius: 15px;
    box-shadow: -8px 8px 7px #9a9b9c;
  }
}
